[submodule "debian/modules/chunkin-nginx-module"]
	path = debian/modules/chunkin-nginx-module
	url = https://github.com/agentzh/chunkin-nginx-module
[submodule "debian/modules/headers-more-nginx-module"]
	path = debian/modules/headers-more-nginx-module
	url = https://github.com/agentzh/headers-more-nginx-module
[submodule "debian/modules/nginx-cache-purge"]
	path = debian/modules/nginx-cache-purge
	url = https://github.com/FRiCKLE/ngx_cache_purge
[submodule "debian/modules/nginx-dav-ext-module"]
	path = debian/modules/nginx-dav-ext-module
	url = https://github.com/arut/nginx-dav-ext-module
[submodule "debian/modules/nginx-development-kit"]
	path = debian/modules/nginx-development-kit
	url = https://github.com/simpl/ngx_devel_kit
[submodule "debian/modules/nginx-echo"]
	path = debian/modules/nginx-echo
	url = https://github.com/agentzh/echo-nginx-module
[submodule "debian/modules/nginx-lua"]
	path = debian/modules/nginx-lua
	url = https://github.com/chaoslawful/lua-nginx-module
[submodule "debian/modules/nginx-pinba"]
	path = debian/modules/nginx-pinba
	url = https://github.com/tony2001/ngx_http_pinba_module
[submodule "debian/modules/nginx-push-stream-module"]
	path = debian/modules/nginx-push-stream-module
	url = https://github.com/wandenberg/nginx-push-stream-module
[submodule "debian/modules/nginx-upload"]
	path = debian/modules/nginx-upload
	url = https://github.com/vkholodkov/nginx-upload-module
